$primaryColor: #246AAA !default;
$primaryDarkColor: #184D6D !default;
$primaryDarkerColor: #184D6D !default;
$primaryTextColor: #ffffff !default;

$highlightBg: #fffbeb !default;
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

@import '../_variables';
@import './_fonts';
@import '../../theme-base/_components';
@import '../extensions/_extensions';
