<div class="test-card"></div>

<p-card header="Simple Card">

  <div class="input">
    <label for="theme">Choix Theme</label>
    <p-dropdown
      id="theme"
      [options]="themes"
      [(ngModel)]="selectedTheme"
      optionLabel="label"
      variant="filled"
      placeholder="Selectionner un theme"
      (onClick)="onChangeTheme()"
    />
  </div>

  <form [formGroup]="form" class="main">

    <div class="row">

      <div class="input">
        @if (form.get('code')?.touched && form.get('code')?.invalid) {
          <label for="code" style="color: var(--p-red-500);">Code</label>
        } @else {
          <label for="code">Code</label>
        }
        <input
          pInputText
          id="code"
          [formControlName]="'code'"/>
        @if (form.get('code')?.touched && form.get('code')?.invalid) {
          <small id="code-help" style="color: var(--p-red-500);">
            Taille max. 30.
          </small>
        }
      </div>

      <div class="input">
        @if (form.get('name')?.touched && form.get('name')?.invalid) {
          <label for="name" style="color: var(--p-red-500);">Nom</label>
        } @else {
          <label for="name">Nom</label>
        }
        <input
          pInputText
          id="name"
          [formControlName]="'name'"
          variant="filled"/>
        @if (form.get('name')?.touched && form.get('name')?.invalid) {
          <small id="name-help" style="color: var(--p-red-500);">
            Taille max. 60.
          </small>
        }
      </div>

      <div class="input">
        <label for="age">Age</label>
        <input
          pInputText
          type="number"
          id="age"
          min="0"
          max="130"
          [formControlName]="'age'"/>
        <small id="test-help">
          Afficher une aide
        </small>
      </div>

    </div>

    <div class="row">

      <label for="switch">Toggle Switch</label>
      <div class="input">
        <p-toggleswitch id="switch" formControlName="checked" />
      </div>

      <label for="select"> Checkbox </label>
      <div class="input">
        <p-checkbox
          [formControlName]="'isEnabled'"
          value="test"/>
      </div>
    </div>


    <div class="row">

      <div class="input">
        <label for="select"> Select </label>
        <p-dropdown
          id="select"
          [formControlName]="'type'"
          [options]="types"
          optionLabel="label"
          variant="filled"
          placeholder="Selectionner un truc"/>
      </div>

      <div class="input">
        <label for="buttondisplay"> Create date </label>
        <p-calendar
          id="buttondisplay"
          [formControlName]="'date'"
          [showIcon]="true"
          [iconDisplay]="'input'"/>
      </div>

      <div class="input">
        <label for="multiSelect"> Multi Select </label>
        <p-multiSelect
          id="multiSelect"
          [options]="cities"
          [formControlName]="'city'"
          optionLabel="name"
          placeholder="Selectionner des villes"
          showClear="true"/>
      </div>

    </div>


    <p-toast/>
    <p-confirmDialog/>

    <p-button
      (click)="confirm($event)"
      label="Open dialog">
    </p-button>


    <h2>Afficher Toasts :</h2>
    <div class="row">
      <p-button
        type="button"
        pRipple
        (click)="showSuccess()"
        label="Success"
        severity="success"/>
      <p-button
        type="button"
        pRipple
        (click)="showInfo()"
        label="Info"
        severity="info"/>
      <p-button
        type="button"
        pRipple
        (click)="showWarn()"
        label="Warn"
        severity="warn"/>
      <p-button
        type="button"
        pRipple
        (click)="showError()"
        label="Error"
        severity="danger"/>
      <p-button
        type="button"
        pRipple
        (click)="showSecondary()"
        label="Secondary"
        severity="secondary"/>
      <p-button
        type="button"
        pRipple
        (click)="showContrast()"
        label="Contrast"
        severity="contrast"/>
    </div>

  </form>
</p-card>


<p-card header="Other Card">
  <p-button
    type="button"
    pRipple
    (click)="addMessages()"
    label="Show"/>
  <p-button
    type="button"
    pRipple
    (click)="clearMessages()"
    label="Clear"
    severity="secondary"/>

  @for (message of messages(); track message; let first = $first) {
    <br>
    <br>
    <p-message [severity]="message.severity" [text]="message.content" [ngClass]="{ 'mt-4': !first }"></p-message>
  }

</p-card>


<p-card header="Table">
  <p-table
    [value]="products"
    [tableStyle]="{'min-width': '50rem'}"
    [(selection)]="selectedProducts">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox/>
        </th>
        <th>Code</th>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-columns="columns">
      <tr>
        <td>
          <p-tableCheckbox [value]="product"/>
        </td>
        <td>
          {{ product.code }}
        </td>
        <td>
          {{ product.name }}
        </td>
        <td>
          {{ product.category }}
        </td>
        <td>
          {{ product.quantity }}
        </td>
        <td>
          <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)"/>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>


<router-outlet/>
