<div class="test-card"></div>

<p-card header="Simple Card">
  <form [formGroup]="form" class="main">

    <div class="input">
      @if (form.get('code')?.touched && form.get('code')?.invalid) {
        <label for="code" style="color: var(--color-danger-500);">Code</label>
      } @else {
        <label for="code">Code</label>
      }
      <input
        pInputText
        id="code"
        [formControlName]="'code'" />
      @if (form.get('code')?.touched && form.get('code')?.invalid) {
        <small id="code-help" style="color: var(--color-danger-500);">
          Taille max. 30.
        </small>
      }
    </div>

    <div class="input">
      @if (form.get('name')?.touched && form.get('name')?.invalid) {
        <label for="name" style="color: var(--color-danger-500);">Nom</label>
      } @else {
        <label for="name">Nom</label>
      }
      <input
        pInputText
        id="name"
        [formControlName]="'name'"
        variant="filled" />
      @if (form.get('name')?.touched && form.get('name')?.invalid) {
        <small id="name-help" style="color: var(--color-danger-500);">
          Taille max. 60.
        </small>
      }
    </div>

    <div class="input">
      <label for="test">Test</label>
      <input
        pInputText
        id="test"
        [formControlName]="'test'" />
      <small id="test-help">
        Afficher une aide
      </small>
    </div>

    <div class="input">
      <p-checkbox
        [formControlName]="'isEnabled'"
        [label]="'Activé'"
        value="test" />
    </div>

    <p-dropdown
      [formControlName]="'type'"
      [options]="types"
      optionLabel="label"
      variant="filled"
      placeholder="Selectionner un truc" />

    <div class="input">
      <label for="buttondisplay"> Create date </label>
      <p-calendar
        id="buttondisplay"
        [formControlName]="'date'"
        [showIcon]="true"
        [iconDisplay]="'input'" />
    </div>

  <p-multiSelect
    [options]="cities"
    [formControlName]="'city'"
    optionLabel="name"
    placeholder="Selectionner des villes"
    showClear="true"/>

    <p-toast />
    <p-confirmDialog />
    <p-button
      (click)="confirm($event)"
      label="Save">
    </p-button>
  </form>
</p-card>


<p-card header="Other Card">
  <p-button
    type="button"
    pRipple
    (click)="addMessages()"
    label="Show"/>
  <p-button
    type="button"
    pRipple
    (click)="clearMessages()"
    label="Clear"
    severity="secondary" />
  <p-messages [(value)]="messages" [enableService]="false" />
</p-card>


<p-card header="Table">
  <p-table [value]="products" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Name </th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>Reviews</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-columns="columns">
      <tr>
        <td>
          {{product.name}}
        </td>
        <td>
          {{product.category}}
        </td>
        <td>
          {{product.quantity}}
        </td>
        <td>
          <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)" />
        </td>
        <td>
          <p-rating [(ngModel)]="product.rating" [readonly]="true" [cancel]="false" />
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>


<router-outlet />
